@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-border-radius {
    border-radius: 55% 45% 40% 60% / 61% 38% 62% 39%;
  }
}

.icons-container * {
  @apply size-12;
  @apply cursor-pointer
}

code {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-[#2c2b2b] dark:bg-slate-300 md:bg-[#141414];
  @apply bg-[url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png")]
  md:bg-[url("https://www.transparenttextures.com/patterns/carbon-fibre.png")]
  dark:bg-[url("https://www.transparenttextures.com/patterns/cartographer.png")];
  
  @apply font-Nunito;
}
  
::-webkit-scrollbar {
  background-color: #000;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-orange-600 dark:bg-violet-600;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-800 dark:bg-violet-800;
}